header {
    background-color: rgb(33, 206, 206);
    padding: 20px 5rem;
    display: flex;
    justify-content: space-between;
}

.logo a{
    color: #fff;
    font-weight: bold;
}

nav a{
    color: #fff;
    margin-left: 25px;
}